* { 
	margin: 0; 
	padding-top: 0;
}
body{
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-weight:bold;
	font-size:12px;
	margin:100px;
	background-image:url(../images/headBg_login.png);s
}


.bt-blue{
	border:1px solid #2c5115;
	height:50px;
	height:35px;
	margin:1px 3px 3px 0;
	background-image:url(../images/buton_login.png);
	background-position:0 -294px;
	color:#fff;font-weight:700;
	cursor:pointer;
	padding:2px 6px;
}

.bt-green{
	border:1px solid #2c5115;
	height:50px;
	height:35px;
	margin:1px 3px 3px 0;
	background-image:url(../images/buton_login.png);
	background-position:0 -98px;
	color:#fff;font-weight:700;
	cursor:pointer;
	padding:2px 6px;
}

a { 
	text-decoration: none; 
	color: #66ba08;; 
	background: inherit; 
}
.txt_detail{
	//font-family: Verdana;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	padding-bottom: 20px;
	//font-family:Arial, Helvetica, sans-serif;
}
a:hover { 
	color: #66ba08; 
	background: inherit; 
}	
a:focus { 
	outline: 0; 
}
img { 
	border: 0; 
}
.gray {
	color:#666666;
}	
.red {
	color: #c40000;
}
#maincontent { 
	width: 560px; 
	height: 385px;
	margin: 150px;
	padding: 0; 
	clear: both; 
	background: url(../images/headBg.png) repeat-x;
	border:solid 2px #666666;
	//background-color:#4b65a0;
	
}

#loginform { 
	background: url(../images/logo_login.png) no-repeat left bottom;
	padding: 60px 10px 0px 4px; 
	line-height: 28px;
	//margin: 0 0 10px;
	width: 90%;
	float: right;
	text-align: right;
	
} 

h2 {
	font-family: Verdana;
	font-size: 25px;
	padding-bottom: 20px;
	//font-family:Arial, Helvetica, sans-serif;
	color:#66ba08;
}

#txtName{
	width: 205px;
	height: 25px;
	padding: 8px 4px 6px 3px;
	border: 2px solid #FFFFFF;
	background-color:#414141;
	font-size: 16px;
	color: #FFFFFF;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}
.small {
	font-size: 11px;
}
.code {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
}
.jang{
   padding:5px 0px 5px 5px;
   border-top: 1px dashed #71d106;
   border-bottom: 1px dashed #71d106;
   border-right: 1px dashed #71d106;
   border-left: 1px dashed #71d106;
   background-color: #FFFFFF;
   text-align: center;
   font:12px Tahoma;
   width:30;
   height:5;
   margin:15px 0px 10px 5px;
   color:#CC0000;
}

.jang2{
 font:12px Tahoma;
 font-weight:bold;
 white-space: nowrap;
 color: #C10005;
 text-align:center;
 margin:5px 5px 10px 5px;
}



