/* CSS Document */

.bt-green1{
	border:1px solid #2c5115;
	height:20px;
	height:2opx;
	margin:1px 3px 3px 0;
	background-image:url(../images/buton_pic.gif);
	background-position:0 -98px;
	color:#fff;font-weight:490;
	cursor:pointer;
	padding:2px 6px;
}
.bt-blue{
	border:1px solid #2c5115;
	height:35px;
	height:28px;
	margin:1px 3px 3px 0;
	background-image:url(../images/buton_pic.gif);
	background-position:0 -98px;
	color:#fff;font-weight:600;
	cursor:pointer;
	padding:2px 6px;
}
.bt-edit{
	border:1px solid #2c5115;
	height:20px;
	height:2opx;
	margin:1px 3px 3px 0;
	background-image:url(../images/buton_edit.png);
	background-position:0 -98px;
	color:#fff;font-weight:600;
	cursor:pointer;
	padding:2px 6px;
}

