
#show_create{  
    width:420px;height:60px;  
    border:1px solid #cccccc;  
    background-color:#999999;  
    display:none;
    padding:5px;  
    overflow:hidden;
}  
.font_online_list{
	margin: 15px 0px 5px 0px;
	font-style:normal;
	font-family:sans-serif;
	font-weight:bold;
	color:#666666;
	display:marker;

}
.myform1{
margin:0 auto;
width:318px;
height:318px;
background-image:url(../images/sudoku1.png);
}
/* ----------- stylized ----------- */
#stylized1{
border:solid 2px #666666;
//background:#ebf4fb;
//background-image:url(../images/sudoku_bg1.png);
padding:2px 2px 2px 2px;
text-align:center;
}
#stylized1 h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
text-align:center;
}
#stylized1 td {
font-size:11px;
color:#666666;
font-weight:bold;
margin-bottom:8px;
text-align:center;
}
#stylized1 p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
//padding-bottom:10px;
text-align:center;
}
#stylized1 input{
float:left;
font-size:24px;
text-align:center;
padding:0px 0px 0px 0px;
border:solid 1px #909293;
height:30px;
width: 30px;
margin:1px 1px 1px 1px;
}
/*---------------------------------------------------------------------------*/
.ggg{
border:solid 2px #6d6c6c;
width:100px;
margin:0px 0px 0px 0px;
background-color:#dbe2e9;
text-align:center;
}

