@charset "utf-8";
/* CSS Document */
body {
	FONT-FAMILY: 11px Arial, tahoma;
}
.view_score	{
width:300px;
height:100px;
margin-top:5px;
margin-bottom:5px;
border-bottom:#BFFC6D;
border-top:1px dashed #C8C8C8;
border-left:1px dashed #C8C8C8;
border-right:1px dashed #C8C8C8;
border-bottom:1px dashed #C8C8C8;
background:#F3F3F3;
}

.view_score #viewleft {
      float: left; 
      width: 95px;
	  height: 78px;
	  padding: 3px 0px 0px 20px;
      background:#FFFFFF;
	  padding: 5px 5px 5px 3px;
	  margin:5px 0px 0px 0px;
	  border-top:1px solid #CCC;
	  border-right:1px solid #CCC;
	  border-bottom:1px solid #CCC;
	  text-align:center;
	  
}

.view_score #viewright {
      float: right; 
      width: 175px;
	  height: 85px;
      background: #FFFFFF; 
	  margin:5px 0px 0px 0px;
	  border-top:1px solid #C8C8C8;
	  border-left:1px solid #C8C8C8;
	  border-bottom:1px solid #C8C8C8;
	  text-align:left;
	   padding: 3px 0px 0px 5px;
	  
}
#viewright p{
width:100%; 
font-size:12px; 
color:#6E6E6E;
line-height:5px;
}

#pic_profile{
width:80px;
height:75px;
background: #EBEBEB;
//background-image:url(../images/noguy_profile.png);
border-top:1px solid #b3b2b2;
border-left:1px solid #b3b2b2;
border-right:1px solid #b3b2b2;
border-bottom:1px solid #b3b2b2;
margin:0px 0px 0px 7px;
}

.text_text_view_rating{
	font-size:14px;
	color:#C46609;
}

.text_text_view_user{
	font-size:12px;
	color:#0E2F50;
}

.text_text_view_true{
	font-size:12px;
	color:#009900;
}

.text_text_view_false{
	font-size:12px;
	color:#CC0033;
}









